@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] mx-auto px-12;
  }

  .heading {
    @apply text-[44px] leading-[54px] font-semibold text-heading-color-ravcare;
  }

  .text-para {
    @apply text-[18px] leading-[30px] font-normal text-text-color-ravcare mt-[18px] text-text-color-ravcare;
  }

  .header {
    @apply bg-[#fffbf7] w-full h-[100px] leading-[80px];
  }

  .navbar-shadow {
    box-shadow: 3px 3px -8px #ddd;
  }

  .jumbotron-button-shadow {
    box-shadow: #fe6a3a 4.5px 4.5px 0px;
  }
}

@layer base {
  .sticky-navbar {
    @apply w-full h-[80px] leading-[80px] sticky top-0 left-0 z-[9999] navbar-shadow transition-all duration-300;
  }
}

/* Responsive */

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full px-3;
  }

  .navigation {
    @apply w-full h-full fixed top-0 left-0 z-[100] bg-[#00000084] hidden;
  }
  .menu {
    @apply w-[15rem] h-full top-0 right-0 absolute bg-[#fffbf7] z-[200] flex flex-col  items-center justify-center leading-[30px];
  }

  .show-menu {
    @apply block;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    @apply text-3xl;
  }

  .text-para {
    @apply mt-3 leading-7 text-[16px];
  }
}
